<div class="row">

  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Login </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">User name:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
